#Theoretical Questions.
1. What are data structures, and why are they important?
-  Data structure is a way of organizing and storing data so that it can be accessed & manupulating efficiently.
- It is important bcz its efficiency, faster algorithm, easier problem solving & better memory management.

2. Explain the difference between mutable and immutable data types with examples?
- Mutable object can be changed after they are created.
-immutable object cannot be changed after they are created.
Examples:**bold text**

In [1]:
#examples of mutable object>> list,

list1 = [1, 2, 3, 4, 5]
list1[0] = 10
print(list1)

[10, 2, 3, 4, 5]

In [2]:
#examples of immutable object>> tuple,

tuple1 = (1, 2, 3, 4, 5)
tuple1[-1] = 10
print(tuple1)

TypeError: 'tuple' object does not support item assignment

3. What are the main differences between lists and tuples in Python?
- lists are mutables and tuples are immutables.

4. Describe how dictionaries store data?
- dictionary storing data in "Key : value" pairs. i,e "name: Sk Raj"

5. Why might you use a set instead of a list in Python?
- set can used over list bcz it will remove automatically duplicates values.
- it will allow to used set opertions.
- faster membership testing.

6. What is a string in Python, and how is it different from a list?
- string is a text base data type which is enclose by (') or ("), it is immutable & it can not be modified after they are created.
- list are mutable, it can store any type of data i.e int, str, float, bool, complex etc & it can be modified after they are created.

7. How do tuples ensure data integrity in Python?
- Because tuples are immutable, their contents cannot be changed. This ensures that the data remains constant and is safe from accidental modification.

8. What is a hash table, and how does it relate to dictionaries in Python?
- A hash table is a data structure that maps keys to values using a hash function. Python dictionaries are implemented using hash tables.

9. Can lists contain different data types in Python?
- Yes, lists can store multiple data types, such as integers, strings, and even other lists.

10. Explain why strings are immutable in Python.
- Strings are immutable to optimize memory use and performance and to ensure data consistency when used in hashing or shared among variables.

11. What advantages do dictionaries offer over lists for certain tasks?
- Dictionaries offer fast key-based lookup and are better when you need to associate values with unique keys, unlike lists which use index-based access.

12. Describe a scenario where using a tuple would be preferable over a list.
- Use a tuple when data should not change, like coordinates ((x, y)) or database records. Tuples also serve well as dictionary keys due to immutability.

13. How do sets handle duplicate values in Python?
- Sets automatically eliminate duplicates. Adding an existing item to a set has no effect.

14. How does the in keyword work differently for lists and dictionaries?
- In lists, in checks for a value.

- In dictionaries, in checks for a key (not the value).

15. Can you modify the elements of a tuple? Explain why or why not.
- No, tuples are immutable. Once created, their contents cannot be changed, which is why they are often used for fixed data.

16. What is a nested dictionary, and give an example of its use case.
- A nested dictionary is a dictionary inside another dictionary.

In [3]:
#ex:
student = {"name" : "Raj", "grades" : {"math" : 90, "science" : 80}}

17. Describe the time complexity of accessing elements in a dictionary.
- Accessing an element by key in a dictionary has an average-case time complexity of O(1), thanks to the hash table implementation.

18. In what situations are lists preferred over dictionaries?
- Use lists when order matters, or you’re dealing with a simple collection of items without the need for key-based lookup.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
- Before Python 3.7, dictionaries didn’t preserve insertion order. While modern Python versions do, dictionaries still rely on keys, not position, for access.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
- List: Access items by index (e.g., list[0]).

- Dictionary: Access items by key (e.g., dict['key']).

#Practical Questions.

In [4]:
#1. Create a string with your name and print it?
name = "Sk Raj"
print(name)

Sk Raj

In [5]:
#2. Find the length of the string "Hello World"
string = "Hello World"
print(len(string))

11

In [6]:
#3. Slice the first 3 characters from the string "Python Programming"
string = "Python Programming"
print(string[:3])

Pyt

In [9]:
#4. Convert the string "hello" to uppercase
string = "hello"
print(string.upper())

HELLO

In [10]:
#5. Replace the word "apple" with "orange" in the string "I like apple"
string = "I like apple"
print(string.replace("apple", "orange"))

I like orange

In [11]:
#6. Create a list with numbers 1 to 5 and print it
list = [1, 2, 3, 4, 5]
print(list)

[1, 2, 3, 4, 5]

In [12]:
#7. Append the number 10 to the list [1, 2, 3, 4]
list = [1, 2, 3, 4,]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

In [13]:
#8. Remove the number 3 from the list [1, 2, 3, 4, 5]
list = [1, 2, 3, 4, 5]
list.remove(3)
print(list)

[1, 2, 4, 5]

In [14]:
#9. Access the second element in the list ['a', 'b', 'c', 'd']
list = ['a', 'b', 'c', 'd']
print(list[1])

b

In [15]:
#10. Reverse the list [10, 20, 30, 40, 50]
list = [10, 20, 30, 40, 50]
print(list[::-1])

[50, 40, 30, 20, 10]

In [16]:
#11. Create a tuple with the elements 100, 200, 300 and print it
tuple = (100, 200, 300)
print(tuple)

(100, 200, 300)

In [17]:
#12. Access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')
tuple = ('red', 'green', 'blue', 'yellow')
print(tuple[-2])

blue

In [18]:
# 13. Find the minimum number in the tuple (10, 20, 5, 15)
tuple = (10, 20, 5, 15)
print(min(tuple))

5

In [19]:
#14. Find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
tuple = ('dog', 'cat', 'rabbit')
print(tuple.index("cat"))

1

In [20]:
#15. Create a tuple containing three different fruits and check if "kiwi" is in it
tuple = ("apple", "banana", "orange")
print("kiwi" in tuple)

False

In [21]:
#16. Create a set with the elements 'a', 'b', 'c' and print it
set = {'a', 'b', 'c'}
print(set)

{'c', 'b', 'a'}

In [22]:
#17. Clear all elements from the set {1, 2, 3, 4, 5}
set = {1, 2, 3, 4, 5}
set.clear()
print(set)

set()

In [23]:
#18. Remove the element 4 from the set {1, 2, 3, 4}
set = {1, 2, 3, 4}
set.remove(4)
print(set)

{1, 2, 3}

In [24]:
#19. Find the union of two sets {1, 2, 3} and {3, 4, 5}
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

In [25]:
#20. Find the intersection of two sets {1, 2, 3} and {2, 3, 4}
set1 = {1, 2, 3}
set2 = {2, 3, 4}
print(set1.intersection(set2))

{2, 3}

In [28]:
#21. Create a dictionary with keys "name", "age", and "city" and print it
dict = {"name" : "Raj","age" : 22, "city" : "Bardhaman"}
print(dict)

{'name': 'Raj', 'age': 22, 'city': 'Bardhaman'}

In [30]:
#22. Add "country": "USA" to {'name': 'John', 'age': 25}
dict = {'name': 'John', 'age': 25}
dict["country"] = "USA"
print(dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [31]:
#23. Access the value associated with "name" in {'name': 'Alice', 'age': 30}
dict = {'name': 'Alice', 'age': 30}
print(dict["name"])

Alice

In [33]:
#24. Remove the key "age" from {'name': 'Bob', 'age': 22, 'city': 'New York'}
dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del dict["age"]
print(dict)

{'name': 'Bob', 'city': 'New York'}

In [34]:
#25. Check if the key "city" exists in {'name': 'Alice', 'city': 'Paris'}
print("city" in {'name': 'Alice', 'city': 'Paris'})

True

In [35]:
#26. Create a list, a tuple, and a dictionary, and print them all
list = [1, 2, 3, 4, 5]
tuple = (1, 2, 3, 4, 5)
dict = {"name" : "Raj","age" : 22, "city" : "Bardhaman"}
print(list, tuple, dict)

[1, 2, 3, 4, 5] (1, 2, 3, 4, 5) {'name': 'Raj', 'age': 22, 'city': 'Bardhaman'}

In [36]:
#27. Create a list of 5 random numbers between 1 and 100, sort in ascending order, and print
import random
list = [random.randint(1, 100) for _ in range(5)]
list.sort()
print(list)

[68, 79, 85, 85, 100]

In [37]:
#28. Create a list with strings and print the element at the third index
list = ["apple", "banana", "orange", "grape", "kiwi"]
print(list[3])

grape

In [39]:
#29. Combine two dictionaries into one and print the result
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
combined = {**dict1, **dict2}
print(combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [43]:
#30. Convert a list of strings into a set
word_list = ["apple", "banana", "orange", "apple", "banana"]
unique_words = set(word_list)
print(unique_words)

TypeError: 'set' object is not callable